# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.local

# Node (if any at root in future)
node_modules/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
